<h1>Welcome Back Mr <%= locals.username %></h1>
<a href="/home" ><button style="display:inline-block;margin-left: 10px;margin-bottom:10px;">Back to Home</button></a>
<form action="/login" method="POST">
    <button name="disconnect" value="true" style="display:inline-block;margin-left: 10px;margin-bottom:10px;background-color:lightcoral;">Disconnect</button>
</form>