<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
</head>
<body>
    <%- include('./header',{'name':locals.name}); %>
    <%# const tableOfNames = [{"name":"A"},{"name":"B"},{"name":"C"},{"name":"D"}]%>
    <%# if(typeof(locals.vars) !== 'undefined'){ %>
        <ul type="square">
            <%# for(var i = 0;i < vars.length;i++){ %>
                <%#- "<li>this is the <b>" + (i+1) + "</b>th iteration <u><b>" + locals.vars[i] + "</b></u></li>"%>
            <%# }; %>
        </ul>
    <%# }else{ %>
        <h1>Vars is not defined</h1>
    <%# }; %>
    <% locals.vars.map((e) => {%>
        ---
        <%= e %>
        ---
    <% }); %>
    <%- include('./footer',{'company':locals.company}); %>
</body>
</html>